/* 
==================================================
  Project: Sign-up Form
  Description: Stylesheet for the Sign-up Form project.
  Author: Gutu Fetene Balcha
  Date: January 20, 2025
  Version: 1.0
==================================================
*/